/*  telas pequenas, laptops */
@media (min-width: 768px) and (max-width: 1024px) {

  /* ========== Home ========= */
  #home p {
    width: 90%;
  }

  /* ========== Team ========= */
  .team-text {
    width: 40%;
    margin-right: 4rem;
  }

  .team-img {
    width: 60%;
  }

  .team-img img {
    width: 90%;
  }

  .team-text p {
    width: 100%;
  }

  .tools-img {
    /* width: 40%; */
  }

  .tools-img img {
    width: 80%;
  }

  .tools-text {
    width: 60%;
    margin-left: 1rem;
  }
}

/* iPads, tablets */
@media (min-width: 481px) and (max-width: 768px) {

  /* ========== Home ========= */
  #home {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #home p {
    width: 90%;
    margin: 1rem 0;
  }

  /* ========== Companies ========= */
  #companies {
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .logos-companies {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ========== Team ========= */
  #team {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .team-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-text p {
    width: 80%;
  }

  .team-img {
    width: 90%;
    margin-top: 2rem;
  }

  /* ==========Section Destok Img=========*/
  #section-destok-img .background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section-destok-imgimg {
    height: 20rem;
    width: 67%;
  }

  .team-tools {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ==========Tools=========*/
  #tools {
    flex-direction: column-reverse;
  }

  #tools h2,
  #tools h3,
  #tools p {
    text-align: left;
  }

  .tools-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  #tools p {
    width: 90%;
    font-size: 16px;
  }

  .tools-img img {
    width: 90%;
    margin-top: 2rem;
  }

  .tools-text ul li {
    align-items: flex-start;

    justify-items: flex-start;
    text-align: left;
  }

  /* ==========Team- Management=========*/
  #team-management {
    flex-direction: column;
  }

  .team-management-left {
    width: 100%;
  }
}

/* dispositivos móveis */
@media (max-width: 480px) {
  h2 {
    font-size: 48px;
  }

  p {
    font-size: 16px;
  }

  .btn-primary {
    width: 11rem;
  }

  /* ========== Home ========= */
  #home {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #home p {
    width: 90%;
    margin: 1rem 0;
  }

  .btns-home {
    gap: 0.6rem;
  }

  /* ========== Companies ========= */
  #companies {
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .logos-companies {
    flex-wrap: wrap;
    justify-content: center;
  }



  /* ========== Always Together ========= */
  #always-together {
    text-align: center;
  }

  #always-together h2 {
    font-size: 24px;
  }

  #always-together h3 {
    font-size: 24px;
  }

  .btns-always-together {
    display: flex;
    width: 90%;
  }

  /* ========== Team ========= */
  #team {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }

  #team h2 {
    font-size: 24px;
  }

  #team h3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .team-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-text p {
    width: 100%;
    font-size: 16px;
  }

  .team-img {
    width: 100%;
  }

  .team-img img {
    width: 100%;
    margin-top: 2rem;
  }

  /* ==========Section Destok Img=========*/
  #section-destok-img .background {
    height: 15rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section-destok-img h2 {
    font-size: 24px;
    text-align: center;
  }

  #section-destok-img img {
    height: 17rem;
    width: 80%;
  }

  .team-tools {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ==========Tools=========*/
  #tools {
    flex-direction: column-reverse;
    padding: 0 2rem;
    margin-top: 15rem;
  }

  #tools h2,
  #tools h3 {
    font-size: 24px;
  }

  #tools h2,
  #tools h3,
  #tools p {
    text-align: left;
  }

  .tools-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  #tools p {
    width: 90%;
    font-size: 16px;
  }

  .tools-img img {
    width: 90%;
    margin-top: 2rem;
  }

  .tools-text ul li {
    align-items: flex-start;
    justify-items: flex-start;
    text-align: left;
  }

  /* ==========Team- Management=========*/
  #team-management {
    flex-direction: column;
    padding: 0 2rem;
  }

  #team-management p {
    width: 100%;
  }


  .team-management-left {
    width: 100%;
  }

  #team-management h2,
  #team-management h3 {
    font-size: 24px;
  }

  .team-management-img {
    height: 25rem;
    margin-top: 2rem;

  }

}