* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #4F46E5;
    --secondary: #0F172A;
    --gray-600: #475569;
    --gray-300: #CBD5E1;
    --blue-400: #818CF8;
    --gray-900: #0F172A;
    --gray-700: #334155;
    --gray-800: #1E293B;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary);
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 72px;
    font-weight: bold;
}

p {
    color: var(--gray-300);
    font-size: 18px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 6px;
    width: 13rem;
    padding: .6rem 0;
}

.btn-secondary {
    background-color: var(--gray-700);
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 6px;
    width: 13rem;
    padding: .6rem 0;
}

/* ========== Home ========= */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
}

#home span {
    color: var(--blue-400);
    font-size: 20px;
}

#home p {
    width: 45%;
    text-align: center;
}

#home img {
    height: 40%;
    margin-top: 2rem;
}

.btns-home{
    display: flex;
    gap: 1.5rem;
}


/* ========== Companies ========= */
#companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 8rem;
}

#companies p {
    font-size: 24px;
    color: var(--gray-300);
    font-weight: bold;
}

.logos-companies {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


/* ========== Always Together ========= */
#always-together {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12rem 0;
}

#always-together h2 {
    font-size: 56px;
    color: white;
}

#always-together h3 {
    color: var(--blue-400);
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 2rem;
}